[submodule "jsmn"]
	path = modules/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "vzw-nidd-front-end"]
	path = modules/vzw-nidd-front-end
	url = https://github.com/justins-engineering/vzw-nidd-front-end.git
[submodule "hiredis"]
	path = modules/hiredis
	url = https://github.com/redis/hiredis.git
[submodule "vzw-nidd-sdk"]
	path = modules/vzw-nidd-sdk
	url = https://github.com/justins-engineering/vzw-nidd-sdk.git
